<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <%- include('./components/header') %>
   <%- include('./components/search') %>

   <a href="/players/new">Add new player</a>
   Players:
   <%- include('./components/playersList') %>
   <!-- Needs SOME data of all players like tier, nickname, role, playstyle, heroes (icons) -->

   <%- include('./components/footer') %>
</body>
</html>