<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <%- include('./components/header') %>
   <%- include('./components/search') %>

   Add new team:
   <div>
      Form to add new team:
      <!-- GET list of player's in database to display the ones available -->
      <!-- POST new team to dabatase -->
   </div>
   

   <%- include('./components/footer') %>
</body>
</html>