<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <%- include('./components/header') %>
   <%- include('./components/search') %>

   <div>
      Team details:
      <!-- Need all team's details (all team related tables included too?) -->
      <!-- Need SOME team's player's details  -->
   </div>

   <%- include('./components/footer') %>
</body>
</html>